{% extends "base.html.twig" %}

{% block title %}Security{% endblock %}

{% block body %}

{% if not app.user %}

    <div class="container mt-5">
        <h1 class="text-center">Unauthorized Access</h1>

        <hr class="divider">

        <div class="container mt-5">
        <p style="text-align: center;">Sorry, your request could not be processed.</p>
        <p style="text-align: center;"><a href="{{ path('app_home') }}">Return</a></p>
        </div>
    </div>

{% else %}

    <div class="container">
        <h1 class="text-center mt-4">Change password</h1>
    </div>

    {{ form_start(form, { 'attr': { 'class': 'col-lg-6 mx-auto' } }) }}
        <div class="row">
            <div class="form-group col-md-10">
                {{ form_row(form.password.first) }}
                {{ form_row(form.password.second) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                {{ form_row(form.submit) }}
            </div>
        </div>
    {{ form_end(form) }}

{% endif %}

{% endblock %}