{% extends 'base.html.twig' %}

{% block title %}Form - Recipes{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h1>Add Recipe</h1>

        {{ form_start(form) }}
        <div class="row">
            <div class="form-group col-md-4">
                {{ form_label(form.nameRecipe) }}
                {{ form_widget(form.nameRecipe) }}
                {{ form_errors(form.nameRecipe) }}
            </div>
            <div class="form-group col-md-4">
                {{ form_label(form.time) }}
                {{ form_widget(form.time) }}
                {{ form_errors(form.time) }}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-2">
                {{ form_label(form.numberPeople) }}
                {{ form_widget(form.numberPeople) }}
                {{ form_errors(form.numberPeople) }}
            </div>

            <div class="form-group col-md-2">
                {{ form_label(form.price) }}
                {{ form_widget(form.price) }}
                {{ form_errors(form.price) }}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                {{ form_label(form.difficulty) }}
                {{ form_widget(form.difficulty) }}
                {{ form_errors(form.difficulty) }}
            </div>
        </div>

        <div class="row">
            <div class="form-check mt-4">
                {{ form_label(form.isFavorite) }}
                {{ form_widget(form.isFavorite) }}
                {{ form_errors(form.isFavorite) }}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-8 mt-4">
                {{ form_label(form.ingredients) }}
                {{ form_widget(form.ingredients) }}
                {{ form_errors(form.ingredients)}}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-8">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
                {{ form_errors(form.description) }}
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                {{ form_row(form.submit) }}
            </div>
        </div>
        {{ form_end(form) }}
        
    </div>

{% endblock %}