{% extends 'base.html.twig' %}

{% block title %} {{ (app.user is null) ? 'Page not found' : 'Recipes'}} {% endblock %}

{% block body %}

{% if not app.user %}

  <div class="container mt-5">
    <h1 class="text-center">Unauthorized Access</h1>

    <hr class="divider">

    <div class="container mt-5">
      <p style="text-align: center;">Sorry, your request could not be processed.</p>
      <p style="text-align: center;"><a href="{{ path('app_home') }}">Return</a></p>
    </div>
  </div>

{% else %}

  <div class="container mt-4">
    {% if recipes is null %}

      <p>There is no recipe</p>

    {% else %}  

    <h1>My recipes - Symrecipe</h1>

    <div class="container mt-4">
      <div class="d-flex justify-content-between">
        <p>There are {{ recipes.getTotalItemCount }} recipes.</p>
        
        <a href="{{ path('app_recipe_new') }}" class="btn btn-primary">
          Add a recipe
        </a>
      </div>
    </div>

    {% for message in app.flashes('success') %}
      <div class="alert alert-dismissible alert-success mt-4">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        {{ message }}
      </div>
    {% endfor %}

    <table class="table table-hover mt-4">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Recipe Name</th>
          <th scope="col">Price</th>
          <th scope="col">Difficulty</th>
          <th scope="col">Is Favorite</th>
          <th scope="col">Creation Date</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for recipe in recipes %}
              <tr>
                <th scope="row">{{ recipe.id }}</th>
                <td>{{ recipe.nameRecipe }}</td>
                <td>{{ (recipe.price is null) ? 'Unknown' : recipe.price|number_format(2) }}€</td>
                <td>{{ (recipe.difficulty is null) ? 'Unknown' : recipe.difficulty }}</td>
                <td>{{ (recipe.isFavorite == 0) ? 'No' : 'Yes' }}</td>
                <td>{{ recipe.createdAt|date("d/m/Y") }}</td>
                <td><a href="{{ path('app_recipe_edit', { id: recipe.id }) }}" class="btn btn-info">Edit</a>
                <a href="{{ path('app_recipe_delete', { id: recipe.id }) }}" onclick="return confirm('Do you really want to delete this recipe?')" class="btn btn-danger">Delete</a></td>
              </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="navigation d-flex justify-content-center">
      {{ knp_pagination_render(recipes) }}
    </div>
    
    {% endif %}
  </div>

  {% endif %}

{% endblock %}