{% extends 'base.html.twig' %}

{% block title %} {{ (app.user is null) ? 'Page not found' : 'Recipes'}} {% endblock %}

{% block body %}

{% if not app.user %}

  <div class="container mt-5">
    <h1 class="text-center">Unauthorized Access</h1>

    <hr class="divider">

    <div class="container mt-5">
      <p style="text-align: center;">Sorry, your request could not be processed.</p>
      <p style="text-align: center;"><a href="{{ path('app_home') }}">Return</a></p>
    </div>
  </div>

{% else %}

  <div class="container mt-4">
    {% if recipes is null %}

      <p>There is no recipe</p>

    {% else %}  

    <h2>My recipes - Symrecipe</h2>

    {% for message in app.flashes('success') %}
      <div class="alert alert-dismissible alert-success mt-4">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        {{ message }}
      </div>
    {% endfor %}

    <div class="container mt-4">
      <div class="d-flex justify-content-between">
        <p>There are {{ recipes.getTotalItemCount }} recipes.</p>
        
        <a href="{{ path('app_recipe_new') }}" class="btn btn-primary">
          <i class="fas fa-plus"></i> Add a recipe
        </a>
      </div>
    </div>

    <table class="table table-hover mt-4">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Recipe Name</th>
          <th scope="col">Price</th>
          <th scope="col">Difficulty</th>
          <th scope="col">Is Favorite</th>
          <th scope="col">Creation Date</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for recipe in recipes %}
              <tr>
                <th scope="row">{{ recipe.id }}</th>
                <td>{{ recipe.nameRecipe }}</td>
                <td>{{ (recipe.price is null) ? 'Unknown' : recipe.price|number_format(2) }}€</td>
                <td>{{ (recipe.difficulty is null) ? 'Unknown' : recipe.difficulty }}</td>
                <td>{{ (recipe.isFavorite == 0) ? 'No' : 'Yes' }}</td>
                <td>{{ recipe.createdAt|date("d/m/Y") }}</td>
                <td><a href="{{ path('app_recipe_edit', { id: recipe.id }) }}" class="btn btn-info"><i class="fas fa-edit"></i> Edit</a>
                <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ recipe.id }}"><i class="fas fa-trash-alt"></i> Delete</a></td>
              </tr>

              <div class="modal fade" id="staticBackdrop{{ recipe.id }}" data-bs-backdrop="#" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel{{ recipe.id }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel{{ recipe.id }}">
                        <i class="fa-sharp fa-solid fa-circle-exclamation"></i> Delete recipe
                      </h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Do you really want to delete the recipe {{ recipe.id }}?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      <a href="{{ path('app_recipe_delete', { id : recipe.id }) }}" class="btn btn-danger">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
        {% endfor %}
      </tbody>
    </table>

    <div class="navigation d-flex justify-content-center">
      {{ knp_pagination_render(recipes) }}
    </div>
    
    {% endif %}
  </div>

  {% endif %}

{% endblock %}