{% extends "base.html.twig" %}

{% block title %} {{ recipe.nameRecipe }} {% endblock %}

{% block body %}

    <div class="container">
        <div class="link mt-4">
            <a href="{{ path('app_home') }}" class="no-underline"><i class="fa-solid fa-angle-left"></i> Back to home</a>
        </div>
    </div>

    <div class="container shadow p-3 mb-5 bg-white rounded-0 mt-4">
        <h1 class="title bg-title"> {{ recipe.nameRecipe }} </h1>
        {% for message in app.flashes('success') %}
        <div class="alert alert-dismissible alert-success mt-4">
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          {{ message }}
        </div>
      {% endfor %}
        <p class="text content mt-4">Recipe rating: {{ recipe.average|number_format(2) }}/5 </p>
        <div class="row content mt-4">
            <p>Duration: {{ (hours == 0) ? '-.-' : hours }} hours and {{ (minutes == 0) ? '-.-' : minutes }} minutes</p>
            <p>For: {{ (recipe.numberPeople is null) ? 'Unknown' : recipe.numberPeople }}</p>
            <p>Difficulty: {{ (recipe.difficulty is null) ? 'Unknwon' : recipe.difficulty }}</p>
            <p>Price: {{ (recipe.price is null) ? '-.-' : recipe.price|number_format(2) }}€</p>
            <p> {{ recipe.description|raw }} </p>
        </div>
    </div>

    <div class="container shadow p-3 mb-5 bg-white rounded-0">
        {{ form_start(form) }}
        <h5 class="title bg-title">Rate a recipe</h5>
        <div class="row content mt-4">
            <div class="col">
                {{ form_label(form.mark) }}
                {{ form_widget(form.mark) }}
            </div>
        </div>
        
        {% if not app.user %}
        <p class="text content mt-0"><i class="fa-solid fa-triangle-exclamation"></i> <i>Please <a href=" {{ path('app_login') }}" class="no-underline">log in</a> to rate this recipe.</i></p>
        <div class="row content">
            <div class="col">
                {{  form_row(form.submit, { 'attr': {'disabled': 'disabled'} }) }}
                </div>
            </div>
        {% else %}
            <div class="row content">
                <div class="col">
                    {{  form_row(form.submit) }}
                </div>
            </div>
        {% endif %}
        {{ form_end(form) }}
    </div>
    

{% endblock %}