{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center align-items-center" style="background-image: url('https://images.pexels.com/photos/4551832/pexels-photo-4551832.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        height: 100vh; position: relative; background-size: cover; background-repeat: no-repeat; background-position: center;">
        <div class="mask mask-custom">  
            <div class="d-flex justify-content-center align-items-center h-100">
                <h3 class="text text-custom">Welcome to Symrecipe!</h3>
            </div>
        </div>
    </div>

<div class="container">
    <h3 class="d-flex justify-content-start flex-wrap mt-4 align-items">Shared recipes</h3>

    {% if recipes is null %}
        <p>There is no published recipe yet.</p>
    {% else %}            
    <div class="d-flex justify-content-around flex-wrap mt-4">
        {% for recipe in recipes %}
        <div class="card border-0 mb-3 mr-5 shadow-lg p-3 mb-5 bg-white rounded-0" style="max-width: 20rem;">
            <div class="card-header">
                <h5 class="float-start">{{ recipe.nameRecipe }}</h5>
                <div class="card-subtitle">
                    <p class="float-end">{{ recipe.user.fullName }}</p>
                </div>
            </div>
                <div class="card-body">
                    <h5>Recipe details</h5>
                    <p class="card-text">{{ recipe.description|slice(0, 100) ~ '...' }}</p>
                </div>
                <div class="card-footer border-0">
                    <a href="{{ path('app_show_recipe', {'id': recipe.id }) }}" class="btn btn-primary">
                        View recipe
                    </a>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ recipe.id }}">
                        See more
                    </button>
                </div>
           </div>
           
           <div class="modal fade" id="staticBackdrop{{ recipe.id }}" data-bs-backdrop="#" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel{{ recipe.id }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel{{ recipe.id }}">{{ recipe.nameRecipe }}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5>Recipe details</h5>
                    <p>Description: {{ (recipe.description is null) ? '--' : recipe.description }}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
    {% endif %}   
</div>

{% endblock %}