{% extends 'base.html.twig' %}

{% block title %} {{ (app.user is null) ? 'Page not found' : 'Ingredients' }} {% endblock %}

{% block body %}

{% if not app.user %}
  <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-lg-6 mx-auto">
      <h1 class="text-center">Unauthorized Access</h1>
  
      <hr class="divider">
  
      <div class="container mt-5">
        <p style="text-align: center;">Sorry, your request could not be processed.</p>
        <p style="text-align: center;"><a href="{{ path('app_home') }}">Return</a></p>
      </div>
    </div>
    </div>

{% else %}

  <div class="container mt-4">
    {% if ingredients is null %}

      <p>There is no ingredient.</p>

    {% else %}   

    <h2>My ingredients - Symrecipe</h2>

    {% for message in app.flashes('success') %}
      <div class="alert alert-dismissible alert-success mt-4">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        {{ message }}
      </div>
    {% endfor %}

    <div class="container mt-4">
      <div class="d-flex justify-content-between">
        <p>There are {{ ingredients.getTotalItemCount }} ingredients.</p>

        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addIngredientModal">
          <i class="fas fa-plus"></i> Add an ingredient
        </a>
      </div>

      <div class="modal fade" id="addIngredientModal" tabindex="-1" aria-labelledby="addIngredientModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title" id="addIngredientModalLabel">Add New Ingredient</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form_start(addIngredient) }}
                        <div class="mb-3">
                            {{ form_label(addIngredient.name) }}
                            {{ form_widget(addIngredient.name) }}
                            {{ form_errors(addIngredient.name) }}
                        </div>

                        <div class="mb-3">
                            {{ form_label(addIngredient.price) }}
                            {{ form_widget(addIngredient.price) }}
                            {{ form_errors(addIngredient.price) }}
                        </div>

                        <div class="modal-footer border-0">
                            {{ form_row(addIngredient.submit) }}
                        </div>
                    {{ form_end(addIngredient) }}
                </div>
            </div>
        </div>
      </div>
    </div>

    <table class="table table-hover mt-4">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Ingredient Name</th>
          <th scope="col">Price</th>
          <th scope="col">Creation Date</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for ingredient in ingredients %}
              <tr>
                <th scope="row"> {{ ingredient.id }}</th>
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.price|number_format(2) }}€</td>
                <td>{{ ingredient.createdAt|date("d/m/Y") }}</td>
                <td><a href="#" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#editModal{{ ingredient.id }}"><i class="fas fa-edit"></i> Edit</a>
                <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ ingredient.id }}"><i class="fas fa-trash-alt"></i> Delete</a></td>
              </tr>

              <div class="modal fade" id="editModal{{ ingredient.id }}" tabindex="-1" aria-labelledby="editModalLabel{{ ingredient.id }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                      <div class="modal-header border-0">
                          <h5 class="modal-title" id="editModalLabel{{ ingredient.id }}">Edit Ingredient - {{ ingredient.name }} </h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          {{ form_start(forms[ingredient.id]) }}
                              <div class="mb-3">
                                  {{ form_label(forms[ingredient.id].name) }}
                                  {{ form_widget(forms[ingredient.id].name) }}
                                  {{ form_errors(forms[ingredient.id].name) }}
                              </div>

                              <div class="mb-3">
                                  {{ form_label(forms[ingredient.id].price) }}
                                  {{ form_widget(forms[ingredient.id].price) }}
                                  {{ form_errors(forms[ingredient.id].price) }}
                              </div>

                              <div class="modal-footer border-0">
                                {{ form_row(forms[ingredient.id].submit) }}
                              </div>
                          {{ form_end(forms[ingredient.id]) }}
                      </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="staticBackdrop{{ ingredient.id }}" data-bs-backdrop="#" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel{{ ingredient.id }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header border-0">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel{{ ingredient.id }}">
                        <i class="fa-sharp fa-solid fa-circle-exclamation"></i> Delete ingredient</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Do you really want to delete the ingredient {{ ingredient.id }}?
                    </div>
                    <div class="modal-footer border-0">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      <a href="{{ path('app_ingredient_delete', { id : ingredient.id }) }}" class="btn btn-danger">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
        {% endfor %}
      </tbody>
    </table>

    <div class="navigation d-flex justify-content-center">
      {{ knp_pagination_render(ingredients) }}
    </div>
    
    {% endif %}
  </div>
{% endif %}

{% endblock %}
