{% extends "base.html.twig" %}

{% block title %}Sign up{% endblock %}

{% block body %}

    <div class="container d-flex justify-content-center align-items-center min-vh-100" style="padding-top: 70px;">
        
        {{ form_start(form, { 'attr': { 'id': 'registrationForm', 'class': 'col-lg-6 mx-auto shadow-lg p-3 mb-5 bg-white rounded-0' } }) }}
            <h3 class="text-center mt-4">Create Account</h3>

            <div class="row ">
                <div class="form-group col-md-6">
                    {{ form_label(form.fullName) }}
                    {{ form_widget(form.fullName) }}
                    {{ form_errors(form.fullName) }}
                </div>
                <div class="form-group col-md-6">
                    {{ form_label(form.pseudo) }}
                    {{ form_widget(form.pseudo) }}
                    {{ form_errors(form.pseudo) }}
                </div>
            </div>

            <div class="row ">
                <div class="form-group col-md-12">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>
            </div>

            <div class="row ">
                <div class="form-group col-md-12">
                    {{ form_row(form.password.first) }}
                    {{ form_row(form.password.second) }}
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="checkbox mt-4">
                        <input type="checkbox" id="toggle"> Show password
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    {{ form_row(form.submit) }}
                </div>
            </div>

            <hr class="divider">
            <div class="row">
                <div class="col-sm-6">
                    <p class="float-start">Already have an account? <a href="{{ path('app_login') }}">Sign in</a></p>
                </div>
            </div>
        {{ form_end(form) }}  
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
        const showPasswordToggle = document.querySelector('#toggle');
        const passwordField = document.querySelector('#{{ form.password.first.vars.id }}');
        const confirmField = document.querySelector('#{{ form.password.second.vars.id }}');

        showPasswordToggle.addEventListener('change', function() {
            if (this.checked) {
                passwordField.type = 'text';
                confirmField.type = 'text';
            } else {
                passwordField.type = 'password';
                confirmField.type = 'password';
            }
        });
    });
    </script>

{% endblock %}